<h2>Dashboard</h2>

<%= link_to 'New Campaign', new_campaign_path %>

<table class="drafts table">
  <tr><th>Campaign</th><th>Actions</th></tr>

  <% @campaigns.each do |c| %>
    <tr class='campaign-<%= c.id %>'>
      <td><%= c.title %></td>
      <td>
        <%= link_to 'edit', edit_campaign_path(c) if c.draft? || c.approved? %>
        <%= link_to 'submit for approval', campaign_submission_path(c), method: :post, confirm: 'Are you sure?' if c.draft? %>
        <%= link_to 'launch', campaign_launch_path(c), method: :post, confirm: 'Are you sure?' if c.approved? %>
        <%= "UNDER REVIEW" if c.review? %>
      </td>
    </tr>
  <% end %>
</table>
