<h2><%= @campaign.title %></h2>

<h3>Details</h3>
<%= simple_format(@campaign.details) %>

<h3>Logo</h3>
<%= image_tag @campaign.logo.url(:thumb) %>

<h3>Banner</h3>
<%= image_tag @campaign.banner.url(:thumb) %>

<h3>Item Donations</h3>
<% if @campaign.allow_product_donations %>
  <p>Product donations ARE allowed.</p>
<% else %>
  <p>Product donations are NOT allowed.</p>
<% end %>

<h3>Publication Status</h3>
<%= @campaign.publication_status %>

<h3>Funding Goal</h3>
<%= Money.new(@campaign.funding_goal * 100, 'USD').format %>

<h3>Duration</h3>
<%= @campaign.duration %> days

<h3>Actions</h3>
<%= form_tag admin_campaign_approval_path(@campaign) do  %>
  <%= submit_tag "Approve" %>
<% end %>

<%= form_tag admin_campaign_rejection_path(@campaign) do  %>
  <%= label_tag :notes, "Notes" %>
  <%= text_area_tag :notes %>
  <%= submit_tag "Reject" %>
<% end %>
