<h2><%= @campaign.title %></h2>

<%= simple_format(@campaign.details) %>

<%= money(@campaign.funding_goal) %>

<%= expiration_message(@campaign) %>

<%= location(@campaign) %>

<%= render 'item_donation' %>

<%= render 'items' %>
