<nav>
  <li><a href="#">About</a></li>
  <li><a href="#">Charity Signup</a></li>
  <li><a href="#">Seller Login</a></li>
</nav>
<div class="mini-profile">
  <img src="profile-thumb.png" class="profile-thumb" />
</div>
<div class="cart-menu">
  <a href="#" class="icon-cart">Cart (3)</a>
  <a href="#" class="icon-checkout">Checkout</a>
</div>
<p class="navbar-text pull-right">
  <% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>
<div class="social">
  <a href="#" class="fb"></a>
  <a href="#" class="tw"></a>
  <a href="#" class="in"></a>
</div>